#ifndef _CONFIG_H
#define _CONFIG_H

#include <Arduino.h>

/* Enable debug mode */
// #define DEBUG

/* Set serial baud rate */
#define SERIAL_BAUD_RATE 115200

// Task scheduler configuration
#define _TASK_PRIORITY
// #define _TASK_WDT_IDS
#define _TASK_TIMECRITICAL
#define _TASK_SLEEP_ON_IDLE_RUN
//#define _TASK_SELF_DESTRUCT
#define _TASK_LTS_POINTER
#include <TaskSchedulerDeclarations.h>

// Pin configuration
#define NORTH_SENSOR A0
#define SOUTH_SENSOR A1
#define EAST_SENSOR A2
#define WEST_SENSOR A3
#define WIND_SENSOR A4
#define LED 13

#define NORTH_SWITCH 4
#define SOUTH_SWITCH 3
#define EAST_SWITCH 7
#define WEST_SWITCH 6
#define NORTH_LIMIT_SWITCH 5
#define SOUTH_LIMIT_SWITCH 2
#define EAST_LIMIT_SWITCH 28
#define WEST_LIMIT_SWITCH 29

#define TM_STROBE 8
#define TM_CLOCK 9
#define TM_DIO 10
#define TM_HIGH_FREQ false

// Wind source
// #define WIND_ANALOG
// #define WIND_MQTT

// MQTT parameters
#define MQTT_HOST "192.168.1.100"
#define MQTT_PORT 1883
#define MQTT_USERNAME admin
#define MQTT_PASSWORD password
#define MQTT_TOPIC weather/wind-speed
#define PUBLISH_MQTT_TOPIC "sensors/"
#define MQTT_POLL_TIME 30 * TIME_SECOND
#define WIND_MQTT_TIMEOUT 5 * TASK_MINUTE

// Ethernet parameters
#define MAC_ADDRESS {0xDE, 0xAD, 0xBE, 0x38, 0xFC, 0xF1}

#if defined(WIND_ANALOG) && defined(WIND_MQTT)
    #error Please select only ONE Wind SOURCE
#endif
#if defined(WIND_ANALOG) && !defined(WIND_SENSOR)
    #error Please defined WIND_SENSOR analog PIN
#endif
#if defined(WIND_MQTT) && (!defined(MQTT_HOST) || !defined(MQTT_PORT) || !defined(MQTT_USERNAME) || !defined(MQTT_PASSWORD) || !defined(MQTT_TOPIC) || !defined(MAC_ADDRESS) || !defined(MQTT_POLL_TIME))
    #error Please define MQTT parameters
#endif

#define EPSILON 100
#define DARK_LIMIT 50
#define WIND_LIMIT 100
#define WIND_SAMPLES 5

#define MOTOR_MOVEMENT_TIME 100 * TASK_MILLISECOND
#define GO_HOME_MOVEMENT_TIME 30 * TASK_SECOND

#define HOME_SLEEP_TIME 2 * TASK_HOUR
#define WIND_SLEEP_TIME 30 * TASK_SECOND

#define SENSOR_CHECK_INTERVAL 8 * TASK_SECOND
#define COMMUNICATION_INTERVAL 10 * TASK_SECOND
#define WIND_CHECK_INTERVAL 5 * TASK_SECOND
#define BUTTONS_CHECK_INTERVAL 1 * TASK_SECOND
#define BUTTONS_CHECK_INTERVAL_MANUAL 100 * TASK_MILLISECOND
#define DISPLAY_CYCLE_INTERVAL 2 * TASK_SECOND

#endif
